                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                
                body {
                    height: 100vh;
                    background-color: rgb(211, 219, 231);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .back-circle {
                    height: 120%;
                    width: 55%;
                    background: linear-gradient(90deg, rgb(133, 163, 215), rgb(139, 81, 83));
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    z-index: -100;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* background: linear-gradient(blue, pink); */
                }
                
                .container {
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    width: 65%;
                    height: 45%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    padding: 2%;
                    justify-content: center;
                    background-color: white;
                }
                
                .image-main {
                    height: 100%;
                    width: 50%;
                    position: relative;
                    background-image: url(img.jpg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
                
                .info {
                    height: 100%;
                    width: 50%;
                    padding: 30px 20px;
                }
                
                .heading1 {
                    font-weight: bolder;
                    margin-bottom: 15px;
                }
                
                .heading2 {
                    font-weight: 100;
                    font-size: 12px;
                }
                
                .email-section {
                    margin-top: 20px;
                    height: 70px;
                    position: relative;
                }
                
                .inp,
                button {
                    width: 100%;
                    height: 30px;
                    margin-bottom: 5px;
                }
                
                .no-spam {
                    align-items: center;
                    text-align: center;
                    padding: 5px;
                    margin-top: 5px;
                    font-size: 11px;
                    color: rgb(117, 115, 115)
                }
                
                button {
                    background: linear-gradient(90deg, rgb(20, 68, 152), rgb(131, 95, 228));
                    border-style: none;
                    color: white;
                    font-weight: 100;
                }
                
                .inp {
                    padding: 10px;
                    font-size: 12px;
                    outline: 5cm
                }